name: Build

on: [push, pull_request]

jobs:
  build-android-armv7a:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build android-armv7a
      run: |
        scripts/build-android-armv7a.sh
